
body{
  font-family: georgia, times, serif;


  color: #333;


  background-color: rgb(8, 8, 7)

}
.header{
  position: relative;
  background-color: rgb(41, 41, 42);
  text-decoration: none;
  padding: 0.5rem 0;
  left: 0;
  top: 0;
  width: 100%;
  border-color: rgb(130, 127, 130);
  border-style: ridge;
}
.container{
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}


.main{
  padding: 4rem;
}
.header a{
  text-decoration: none;
  color: white;
  padding: 5%;
}
.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.navegacion ul{
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  left: -60;


}
.logo{
  width: 7%;
  border-radius: 5%;
  border-style: inset;
  position: relative;
  left: -25%;

}
.navegacion ul li{
  display: inline-block;
}
.navegacion ul li a{
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 10px;
}
.navegacion ul li a:hover{
  background-color:rgb(60, 60, 57)
}

.menu-icon{
  display: none;
  color: white;
}
/*footer*/
.container-footer{
  width: 100%;
  background-color: rgb(41, 41, 42);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-style: ridge;
  border-color: rgb(130, 127, 130);
}

.logo-tmdb{
  width: 70px;
  border-radius: 8px;
}
.container-footer p{
  color: white;
  font-size: 15px;
}






/*Boton de Buscar*/
.search1{
display: flex;
margin: 0;
padding: 0 0 0 0;
position: absolute;
left: 74%;
bottom: 0%;
top: 28%
}
form{
  width: 300px;
  margin: 0 auto;
}
fieldset{
  display: inline-block;
  background: #fff;
  border: 1px  #333;
  border-radius: 5px;
  padding: 0 0 0 7px;
}
input, button{
  position: relative;
  float: left;
  width: 199px;
  height: 50px;
  padding: 0;
}
input{
  color: #666;
  border: none;
  z-index: 2;
}
button{
  font-size: 1.4em;
  width: 40px;
  border: none;
  background-color: #333;
  transform: translate(-50px, 0);
  transition-duration: 3s;
}

input:focus{
  outline: none;
}
input:focus + button{
  transform: translate(0,0);
  transition-duration: 1s;
  border-radius: 3px;
  background-color:rgb(89, 89, 89) ;
}

.fa-search:before{
  color: white;
}
.prox{
  font-size: 30px;
  text-align: center;
}

/*Pagina de informacion de series*/
.main{
  background-color;
  display: flex;
  flex-wrap: wrap;

}

}
.info-series{
  background-color: red;

}
.txt{
  width: 30%;
  margin-left: 20px;
}
.img-series3{
  width: 20%;
  height: 20%;

}
.video{
  width: 100px;
  height: 100px;
  margin-left: 2%;

}
.p-para-borrar{
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
/*despues de js*/


/*media*/

@media only screen and (max-width: 981px) {
  .navegacion{
    width: 100%;
    margin-top: 1rem;

  }
  .navegacion ul li{
    display: block;
  }
  .navegacion ul li a{
    display: block;
    padding: 0.5rem 0rem;
    transition: all 0.4s linear;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
  }
.menu-icon{
  display: block;
  cursor: pointer;
  padding: 0.5rem 0rem;
}
.menu-icon i{
  position: absolute;
  left: 5%;
}
.navegacion ul{
  display: none;
}
  .navegacion ul.visible{
    display: block;

  }

  .search1{

  display: flex;
  margin: 0;
  padding: 0 0 0 0;
  left: 30%;
  bottom: 0%;
  top: 3%;
  }
  .logo-container img{
    position: relative;
    left: 50%;
    top: 20%;
  }
}
@media only screen and (max-width: 600px){
  .search1{

  display: flex;
  margin: 0;
  padding: 0 0 0 0;
  left: 20%;
  bottom: 0%;
  top: 1.2%;
  }
}

}
