
body{
  font-family: georgia, times, serif;
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.6em;
  color: #333;
  height: 100%

}
.container{
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

.header{
  background-color: rgba(221, 2, 0,1);
  text-decoration: none;
  position: fixed;
  padding: 0.5rem 0;
  left: 0;
  top: 0;
  width: 100%;
  border-style: solid;
}
.main{
  padding: 11rem;
}
.header a{
  text-decoration: none;
  color: white;
  padding: 5%;
}
.logo-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navegacion ul{
  margin: 0;
  padding: 0;
  list-style: none;


}
.logo{
  width: 10%;
  border-radius: 5%;
  border-style: inset;
  position: relative;
  left: 10%;

}
.navegacion ul li{
  display: inline-block;
}
.navegacion ul li a{
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 10px;
}
.navegacion ul li a:hover{
  background-color:rgb(60, 60, 57)
}

.menu-icon{
  display: none;
  color: white;
}
.footerclass{
  background-color: rgb(64, 64, 64);
  padding:1rem 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

/*media*/

@media only screen and (max-width: 767px) {
  .navegacion{
    width: 100%;
    margin-top: 1rem;

  }
  .navegacion ul li{
    display: block;
  }
  .navegacion ul li a{
    display: block;
    padding: 0.5rem 0rem;
    transition: all 0.4s linear;
    border-radius: 5px;
    display: flex;
    justify-content: center;
  }
.menu-icon{
  display: block;
  cursor: pointer;
  padding: 0.5rem 0rem;
}
.navegacion ul{
  display: none;
}
  .navegacion ul.visible{
    display: block;
  }

}
